{
  "expo": {
    "name": "{{APP_NAME}}",
    "slug": "{{APP_SLUG}}",
    "version": "1.0.0",
    "orientation": "portrait",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "ios": {
      "supportsTablet": true,
      "bundleIdentifier": "{{IOS_BUNDLE_ID}}"
    },
    "android": {
      "package": "{{ANDROID_PACKAGE}}",
      "adaptiveIcon": {
        "backgroundColor": "#ffffff"
      },
      "edgeToEdgeEnabled": true,
      "predictiveBackGestureEnabled": false,
      "usesCleartextTraffic": true
    },
  "plugins": [
    [
      "expo-build-properties",
      {
        "android": {
          "minSdkVersion": 31,
          "enableProguardInReleaseBuilds": false,
          "enableShrinkResourcesInReleaseBuilds": false,
          "enableMinifyInReleaseBuilds": false
        }
      }
    ],
    "./plugins/withCleartextTraffic.js",
    "./plugins/withNetworkSecurityConfig.js",
    "expo-asset"
  ],
    "assetBundlePatterns": [
      "**/*"
    ]
  }
}
